/target
.idea
condense.exe
output.txt
docs.txt
.env

*_output_*.txt
/agent
docs_*.txt
concord_macros/target
concord_examples/target
concord_core/target
concord_test_support/target
/git_diff
/perf/target
