[package]
name = "concord_macros"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = { version = "2", default-features = false, features = ["default"] }#//"parsing", "proc-macro", "printing",
heck = "0.5"
